<html>

<head>

</head><body>

<div class="container-fluid" style="padding: 5px 5px 5px 5px">
  <div class="card">
    <div class="card-header bg-info text-white"><h5>Clinic</h5></div>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-5">





<!--====================== Search ================================================-->


            <div class="form-group container">
              <form [formGroup]="searchForm">
                  <div class="row">
                    <div class="col-lg-4">

                      <input class="form-control form-control-sm" formControlName="name" placeholder="Name" (keyup.enter)="search()">
                    </div>

                    <div class="col-lg-4">

                      <input class="form-control form-control-sm" placeholder="Clinic Type" formControlName="nic" (keyup.enter)="search()">
                    </div>


                    <div class="col-lg-4">
                      <div class="btn-group">
                        <button class="btn btn-outline-success" (click)="search()">Search</button>
                        <button class="btn btn-outline-dark">Cancel</button>
                      </div>
                    </div>
                    </div><br>
              </form>
            </div><br>
<!--======================== Table =============================================================================-->

          <div class="row">
            <table class="table table-bordered table-hover table-sm mat-elevation-z8" mat-table
                   [dataSource]="dataSource">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef><h6>Name</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.clinicCreation.name}}</td>
              </ng-container>

              <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef><h6>Area</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.area.name}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>


<!--==================== card ===============================================================================-->

              <div class="row">
                <div class="col-lg-10 offset-1">
                  <div class="card bg-warning text-dark">
                  <div class="card-body">
                    <label>Name</label>  <br>
                    <label>Age</label>  <br>
                    <label>Area</label>  <br>
                    <label>Address</label>  <br>
                    <label>Contact</label>  <br>
                  </div>
                </div>
                </div>

              </div><br>


<!-- form ========================================================================================-->

              <form [formGroup]="form">
                <div class="form-group">

              <div class="row">

                <div class="col-lg-3">
                  <label>Height(m)</label>
                </div>
                <div class="col-lg-9">
                  <input type="number" formControlName="height" id="height" class=" form-control form-control-sm"><br>
                </div>

              </div>



              <div class="row">

                 <div class="col-lg-3">
                   <label>Weight(Kg)</label>
                 </div>
                 <div class="col-lg-9">
                   <input type="number" formControlName="weight" id="weight" class=" form-control form-control-sm"><br>
                 </div>

              </div>



              <div class="row">

                <div class="col-lg-12">

                  <div class="row">
                  <div class="col-lg-3">
                  <label>Vaccination</label>
                </div>
                <div class="col-lg-9">
                  <mat-select id="vaccination" formControlName="vaccination" placeholder="Select vaccine" class="form-control form-control-sm">
                    <mat-option value="B.C.G">B.C.G</mat-option>
                    <mat-option value="B.C.G 2nd dose">B.C.G 2nd dose</mat-option>
                    <mat-option value="Pentavalent 1">Pentavalent 1</mat-option>
                    <mat-option value="OPV 1">OPV 1</mat-option>
                    <mat-option value="Pentavalent 2">Pentavalent 2</mat-option>
                    <mat-option value="OPV 2">OPV 2</mat-option>
                    <mat-option value="IPV">IPV</mat-option>
                    <mat-option value="Pentavalent 3">Pentavalent 3</mat-option>
                    <mat-option value="OPV 3">OPV 3</mat-option>
                    <mat-option value="MMR 1">MMR 1</mat-option>
                    <mat-option value="Live JE">Live JE</mat-option>
                    <mat-option value="DPT">DPT</mat-option>
                    <mat-option value="OPV 4">OPV 4</mat-option>
                    <mat-option value="MMR 2">MMR 2</mat-option>
                    <mat-option value="D.T">D.T</mat-option>
                    <mat-option value="OPV 5">OPV 5</mat-option>
                    <mat-option value="aTD">aTD</mat-option>
                  </mat-select><br>
                </div>
                  </div>

                <div class="row">
                  <div class="col-lg-9 offset-3">
                    <input type="text" formControlName="vaccination" placeholder="Other" class=" form-control form-control-sm"><br>
                  </div>
                </div>

                </div>

              </div>


                  <div class="row">

                    <div class="col-lg-3">
                      <label>Thriposha Issue</label>
                    </div>
                    <div class="col-lg-9">
                      <input type="checkbox" value="Issued" name="thriposha" formControlName="thriposha"> Issued<br>
                     </div>

                  </div><br>


              <div class="row">

                <div class="col-lg-4 offset-4">
                  <button type="reset" class="btn btn-outline-dark" style="width: 100%">Clear</button>
                </div>
                <div class="col-lg-4">
                  <button type="button" (click)="onSubmit()" class="btn btn-outline-primary" style="width: 100%">Add</button>
                </div>

              </div>

            </div>
          </form>
        </div>


<!--=========== Chart ==============================================================-->
        <div class="col-lg-7">


          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header bg-warning text-dark">Weight Chart</div>
                <div class="card-body">
                  <div style="display: block;">
                    <canvas baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>




      </div>

<!--========== table ==============================================================-->







      <div class="row">

        <div class="col-lg-12">
          <div class="row">
          <table class="table table-hover">
            <thead>
            <tr>
              <td>Clinic Name</td>
              <td>Clinic Type</td>
              <td>Person Type</td>
              <td>Description</td>
              <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clinic of clinics" (click)="fillForm(clinic)">


              <td>{{ clinic.name }}</td>
              <td>{{ clinic.clinicType }}</td>
              <td>{{ clinic.personType}}</td>
              <td>{{ clinic.description }}</td>
              <td><div class="btn-group">
                <button type="button" (click)="delete(clinic.id)" class="btn btn-outline-danger">Delete</button>
              </div>
              </td>

            </tr>
            </tbody>
          </table>
        </div></div>

      </div>
    </div>
  </div>
</div>
</body>
</html>
