<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid" style="margin: auto; padding: 5px 5px 5px 5px">


  <div class="card">
  <div class="card-header bg-info text-white"><h5>Employee Management</h5></div>
  <div class="card-body">

 <div class="row">
  <div class="col-lg-5 col-sm-3">
  <form [formGroup]="form">

    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Name<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <input class=" form-control form-control-sm" formControlName="name" name="name" required>
        <mat-error *ngIf="isFieldInvalid('name')">Please insert correct Name</mat-error>
      </div>

    </div><br>




    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Gender<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <select class="form-control form-control-sm" formControlName="gender" required>
          <!--[compareWith]="compareGenders">-->
            <option value="null" disabled>Select Gender</option>
            <option *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </option>
          </select>
        <mat-error *ngIf="isFieldInvalid('gender')">Please select correct Gender</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>NIC<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
          <input class=" form-control form-control-sm" formControlName="nic" required>
          <mat-error *ngIf="isFieldInvalid('nic')">Please insert correct NIC</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Date of Birth<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <input class=" form-control form-control-sm" formControlName="dob" bsDatepicker required>
        <mat-error *ngIf="isFieldInvalid('dob')">Please insert correct Date of Birth</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Address<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
          <input class=" form-control form-control-sm " formControlName="address" required>
        <mat-error *ngIf="isFieldInvalid('address')">Please insert correct Address</mat-error>
        </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Email<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
          <input class=" form-control form-control-sm " type="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">Please insert correct Email</mat-error>
        </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Contact<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
          <input class="form-control form-control-sm" formControlName="contact" required>
          <mat-error *ngIf="isFieldInvalid('contact')">Please insert correct Contact No</mat-error>
        </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Civil Status<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <select class="form-control form-control-sm" formControlName="civilStatus" required>
          <!--[compareWith]="compareCivilStatus">-->
          <option value="null" disabled>Select Civil Status</option>
            <option *ngFor="let civilStatus of civilStatus" [value]="civilStatus">
              {{civilStatus}}
            </option>
          </select>
        <mat-error *ngIf="isFieldInvalid('civilStatus')">Please select correct Civil Status</mat-error>
       </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Designation<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <select class="form-control form-control-sm" formControlName="designation" required>
          <!--[compareWith]="compareDesignations">-->
            <option value="null" disabled>Select Designation</option>
            <option *ngFor="let designation of designations" [value]="designation">
              {{designation}}
            </option>
        </select>
        <mat-error *ngIf="isFieldInvalid('designation')">Please select correct Designation</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Assign Date<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <input class=" form-control form-control-sm" formControlName="assignDate" required bsDatepicker>
        <mat-error *ngIf="isFieldInvalid('assignDate')">Please insert correct Assign Date</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-3 col-sm-12">
        <label>Employee Status<span style="color: red">*</span></label>
      </div>
      <div class="col-lg-9 col-sm-12">
        <select formControlName="employeeStatus" class="form-control form-control-sm">
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        <mat-error *ngIf="isFieldInvalid('employeeStatus')">Please select correct Employee Status</mat-error>
      </div>

    </div><br>



    <div class="row">

      <div class="col-lg-4">
        <button type="button" class="btn btn-outline-dark" style="width: 100%" (click)="openModal(clear)">Clear</button>
      </div>

      <div class="col-lg-4">
        <button type="button" (click)="openModalSave(update)" class="btn btn-outline-warning" style="width: 100%">Update</button>
      </div>

      <div class="col-lg-4">
        <button type="button" (click)="openModalSave(save)" class="btn btn-outline-primary" style="width: 100%">Add</button>
      </div>



    </div><br><br>

  </form>
  </div>

  <div class="col-lg-7 container">


<div class="card">
  <div class="card-body">


    <!--search ============================================================================-->
        <form [formGroup]="searchForm">
          <div class="row">
          <div class="col-lg-4">

              <input class="form-control form-control-sm" formControlName="name" placeholder="Name" (keyup.enter)="search()">
             </div>




        <div class="col-lg-4">

              <input class="form-control form-control-sm" placeholder="NIC" formControlName="nic" (keyup.enter)="search()">
            </div>


        <div class="col-lg-4">
          <div class="btn-group">
            <button class="btn btn-outline-success" (click)="search()">Search</button>
            <button class="btn btn-outline-dark">Cancel</button>
          </div>

        </div>


      </div>
        </form><br>

    <!-- Table ==================================================-->
      <div class="row">
        <div class="col-lg-12 mat-elevation-z8">
          <table class="table table-hover table-sm" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> <h6>Name</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.name}}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> <h6>Gender</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.gender}}</td>
            </ng-container>

            <ng-container matColumnDef="nic">
              <th mat-header-cell *matHeaderCellDef> <h6>NIC</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.nic}}</td>
            </ng-container>

            <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef> <h6>Contact</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.contact}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> <h6>E mail</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.email}}</td>
            </ng-container>

            <ng-container matColumnDef="employeeStatus">
              <th mat-header-cell *matHeaderCellDef> <h6>Status</h6> </th>
              <td mat-cell *matCellDef="let employee">{{employee.employeeStatus}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> <h6>Action</h6> </th>
              <td mat-cell *matCellDef="let employee">
                <div class="btn-group btn-group-sm special">
                  <button type="button" class="btn btn-outline-success" (click)="fillForm(employee)">Select</button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
  </div>
</div>
</div>
</div>
  </div>
  </div>
</div>


<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to save..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #update>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to update changes..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clear>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to clear this form..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>
</body>
</html>
