<html>

<head>

</head><body>

<div class="container-fluid" style="padding: 5px 5px 5px 5px">
  <div class="card">
    <div class="card-header bg-info text-white"><h5>Pregnant Mothers Clinic</h5></div>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-5">

          <!--====================== form ========================================================================================-->

          <form [formGroup]="form">
            <div class="form-group">

              <div class="row">

                <div class="col-lg-3">
                  <label>Select Clinc</label>
                </div>
                <div class="col-lg-9">
                  <mat-select id="clinic" formControlName="clinicAllocation" class="form-control form-control-sm" placeholder="Select Clinic">
                    <mat-option *ngFor="let clinicAllocation of clinicAllocations" [value]="clinicAllocation">
                      {{clinicAllocation.id}} - {{clinicAllocation.clinicCreation.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isFieldInvalid('clinicAllocation')">Please select Clinic</mat-error>
                  <br><br>
                </div>
              </div>


              <div class="row">

                <div class="col-lg-3">
                  <label>Person</label>
                </div>
                <div class="col-lg-9">
                  <ng-select (change)="loadWeightReport(person)" [items]="persons" formControlName="person"
                             bindLabel="name"
                             class="form-control form-control-sm"
                             value=person>
                  </ng-select>
                </div>

              </div><br>


              <div class="row">

                <div class="col-lg-3">
                  <label>Height(cm)</label>
                </div>
                <div class="col-lg-9">
                  <input type="number" formControlName="height" id="height" class=" form-control form-control-sm"><br>
                </div>

              </div>



              <div class="row">

                <div class="col-lg-3">
                  <label>Weight(g)</label>
                </div>
                <div class="col-lg-9">
                  <input type="number" formControlName="weight" id="weight" class=" form-control form-control-sm"><br>
                </div>

              </div>

              <div class="row">

                <div class="col-lg-3">
                  <label>Belly(cm)</label>
                </div>
                <div class="col-lg-9">
                  <input type="number" formControlName="belly" class=" form-control form-control-sm"><br>
                </div>

              </div>



              <div class="row">

                <div class="col-lg-12">

                  <div class="row">
                    <div class="col-lg-3">
                      <label>Vaccination</label>
                    </div>
                    <div class="col-lg-9">
                      <mat-select id="vaccinationAndMedicine" formControlName="vaccinationAndMedicine" placeholder="Select vaccine" class="form-control form-control-sm">
                        <mat-option value="Tetanus">Tetanus</mat-option>
                        <mat-option value="folic Acid">Folic Acid</mat-option>
                      </mat-select><br>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-9 offset-3">
                      <input type="text" formControlName="vaccinationAndMedicine" placeholder="Other" class=" form-control form-control-sm"><br>
                    </div>
                  </div>

                </div>

              </div>


              <div class="row">

                <div class="col-lg-12">

                  <div class="row">
                    <div class="col-lg-3">
                      <label>Diseases</label>
                    </div>
                    <div class="col-lg-9">
                      <mat-select formControlName="disease" placeholder="Select Disease" class="form-control form-control-sm">
                        <mat-option value="Blood Sugar">Blood Sugar</mat-option>
                        <mat-option value="Blood Preasure">Blood Preasure</mat-option>
                        <mat-option value="Heart Disease">Heart Disease</mat-option>
                        <mat-option value="Lung Disease">Lung Disease</mat-option>
                        <mat-option value="Dental Disease">Dental Disease</mat-option>
                      </mat-select><br>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-9 offset-3">
                      <input type="text" formControlName="disease" placeholder="Other" class=" form-control form-control-sm"><br>
                    </div>
                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-lg-3">
                  <label>Thriposha Issue</label>
                </div>
                <div class="col-lg-9">
                  <input type="checkbox" value="Issued" name="thriposha" formControlName="thriposha"> Issued<br>
                </div>

              </div><br>


              <div class="row">

                <div class="col-lg-4 offset-4">
                  <button type="reset" class="btn btn-outline-dark" (click)="openModal(clear)" style="width: 100%">Clear</button>
                </div>
                <div class="col-lg-4">
                  <button type="button" (click)="openModalSave(save)" class="btn btn-outline-primary" style="width: 100%">Add</button>
                </div>

              </div>

            </div>
          </form>


        </div>


        <!--=========== Chart ==============================================================-->
        <div class="col-lg-7">


          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header bg-warning text-dark">Weight Chart</div>
                <div class="card-body">
                  <div style="display: block;">
                    <canvas baseChart width="400" height="400"
                            [datasets]="dataSet"
                            [labels]="['1','2','3','4','5','6','7','8','9','10','11','12']"
                            [legend]="true"
                            [chartType]="'line'"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>




      </div>

      <!--========== table ==============================================================-->







      <div class="row">

        <div class="col-lg-12 mat-elevation-z8">
          <table class="table table-hover table-sm" mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef><h6>Date</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.date}}</td>
            </ng-container>

            <ng-container matColumnDef="height">
              <th mat-header-cell *matHeaderCellDef><h6>Height</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.height}}</td>
            </ng-container>

            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef><h6>Weight</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.weight}}</td>
            </ng-container>

            <ng-container matColumnDef="vaccination">
              <th mat-header-cell *matHeaderCellDef><h6>Vaccination</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.vaccination}}</td>
            </ng-container>

            <ng-container matColumnDef="disease">
              <th mat-header-cell *matHeaderCellDef><h6>Disease</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.disease}}</td>
            </ng-container>

            <ng-container matColumnDef="thriposha">
              <th mat-header-cell *matHeaderCellDef><h6>Thriposha</h6></th>
              <td mat-cell *matCellDef="let clinic">{{clinic.thriposha}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

      </div>
    </div>
  </div>
</div>

<!--=================== Modal =====================================================================-->

<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to save..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #update>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to update changes..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clear>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to clear this form..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>


</body>
</html>
