<html>

<head>

</head>
<body>

<div class="container-fluid" style="padding: 5px 5px 5px 5px">
  <div class="card">
    <div class="card-header bg-info text-white"><h5>Clinic Allocation</h5></div>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-5">
          <!--form-->
          <form [formGroup]="clinicAllocForm">
            <div class="form-group">

              <div class="row">

                <div class="col-lg-3">
                  <label>Select Clinc</label>
                </div>
                <div class="col-lg-9">
                  <mat-select id="clinic" formControlName="clinicCreation" class="form-control form-control-sm">
                    <mat-option value="null" disabled>Select Clinic</mat-option>
                    <mat-option *ngFor="let clinicCreation of clinicCreations" [value]="clinicCreation">
                      {{clinicCreation.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isFieldInvalid('clinicCreation')">Please select Clinic</mat-error>
                  <br><br>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-3">
                  <label>Select Area</label>
                </div>
                <div class="col-lg-9">
                  <mat-select id="area" formControlName="area" class="form-control form-control-sm">
                    <mat-option value="null" disabled>Select Area</mat-option>
                    <mat-option *ngFor="let area of areas" [value]="area">
                      {{area.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isFieldInvalid('area')">Please insert Area</mat-error>
                  <br><br>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-3 col-sm-12">
                  <label>Date<span style="color: red">*</span></label>
                </div>
                <div class="col-lg-9 col-sm-12">
                  <input class=" form-control form-control-sm" id="date" formControlName="date" bsDatepicker required>
                  <mat-error *ngIf="isFieldInvalid('date')">Please insert correct Date</mat-error>
                  <br>
                </div>

              </div>


              <div class="row" style="padding-bottom: 5px;">

                <div class="col-lg-3">
                  <label style="padding-top: 15px;">Start Time</label>
                </div>
                <div class="col-lg-9">
                  <timepicker formControlName="startTime" id="startTime"></timepicker>
                  <mat-error *ngIf="isFieldInvalid('startTime')">Please insert Star Time</mat-error>
                </div>
              </div>


              <div class="row" style="padding-bottom: 5px;">

                <div class="col-lg-3">
                  <label style="padding-top: 15px;">End Time</label>
                </div>
                <div class="col-lg-9">
                  <timepicker formControlName="endTime" id="endTime"></timepicker>
                  <button class="btn btn-outline-info" (click)="loadAvailableEmployee()">Check Employee Availability</button>
                  <mat-error *ngIf="isFieldInvalid('endTime')">Please insert End Time</mat-error>
                </div>
              </div>


              <div class="row">

                <div class="col-lg-3">
                  <label for="place">Place</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" id="place" class="form-control form-control-sm" formControlName="place">
                  <mat-error *ngIf="isFieldInvalid('place')">Please input Place</mat-error>
                  <br>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-3">
                  <label>Employees</label>
                </div>
                <div class="col-lg-9">
                  <!--<select id="employee" formControlName="employee" class="form-control form-control-sm">-->
                  <!--<option value="null" disabled>Select Employee</option>-->
                  <!--<option *ngFor="let employee of employees" [ngValue]="employee">-->
                  <!--{{employee.name}}-->
                  <!--</option>-->
                  <!--</select><br>-->

                  <mat-select formControlName="employee" multiple class="form-control form-control-sm"
                      [compareWith]="compareEmployees">
                    <mat-option *ngFor="let employee of employees" [value]="employee">
                      {{employee.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="isFieldInvalid('employee')">Please Select Employees</mat-error>
                  <br><br>
                </div>
              </div>


              <div class="row">

                <div class="col-lg-3">
                  <label>Description</label>
                </div>
                <div class="col-lg-9">
                  <input type="text" formControlName="description" id="description" class=" form-control form-control-sm">
                  <mat-error *ngIf="isFieldInvalid('description')">Please insert Description</mat-error>
                  <br>
                </div>
              </div>

              <div class="row">

                <div class="col-lg-3">
                  <label>Status</label>
                </div>
                <div class="col-lg-9">
                  <mat-select formControlName="status" class="form-control form-control-sm" >
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                  </mat-select>
                  <mat-error *ngIf="isFieldInvalid('status')">Please Select Status</mat-error>
                  <br><br>
                </div>
              </div>


              <div class="row">

                <div class="col-lg-4">
                  <button type="button" class="btn btn-outline-dark" style="width: 100%" (click)="openModal(clear)">
                    Clear
                  </button>
                </div>
                <div class="col-lg-4">
                  <button type="button" (click)="openModalSave(update)" class="btn btn-outline-warning"
                          style="width: 100%">Update
                  </button>
                </div>
                <div class="col-lg-4">
                  <button type="button" (click)="openModalSave(save)" class="btn btn-outline-primary"
                          style="width: 100%">Add
                  </button>
                </div>

              </div>

            </div>
          </form>
        </div>


        <div class="col-lg-7">

          <!-- Search ================================================-->

          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-lg-4" formGroupName="clinicCreation">
                <input class="form-control form-control-sm" formControlName="name" placeholder="Clinic Name"
                       (keyup.enter)="search()">
              </div>

              <div class="col-lg-4" formGroupName="area">
                <input class="form-control form-control-sm" formControlName="name" placeholder="Area"
                       (keyup.enter)="search()">
              </div>


              <div class="col-lg-4">
                <div class="btn-group">
                  <button class="btn btn-outline-success" (click)="search()">Search</button>
                  <button class="btn btn-outline-dark" (click)="onSearchClear()">Cancel</button>
                </div>

              </div>


            </div>
          </form>
          <br>

          <!--========== table ======================-->

          <div class="row">
            <div class="col-lg-12 mat-elevation-z8">
            <table class="table table-hover table-sm" mat-table [dataSource]="dataSource">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef><h6>Name</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.clinicCreation.name}}</td>
              </ng-container>

              <ng-container matColumnDef="area">
                <th mat-header-cell *matHeaderCellDef><h6>Area</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.area.name}}</td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef><h6>Date</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.date}}</td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef><h6>Start Time</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.startTime}}</td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef><h6>End Time</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.endTime}}</td>
              </ng-container>

              <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef><h6>Place</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.place}}</td>
              </ng-container>

              <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef><h6>Employee</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">
                  <ng-container *ngFor="let employee of clinicAllocation.employee">
                  {{employee.name}}<br>
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef><h6>Status</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">{{clinicAllocation.status}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef><h6>Action</h6></th>
                <td mat-cell *matCellDef="let clinicAllocation">
                  <div class="btn-group btn-group-sm special">
                    <button type="button" class="btn btn-outline-success" (click)="fillForm(clinicAllocation)">Select
                    </button></div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to save..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #update>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to update changes..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clear>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to clear this form..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<!--<ng-template #error>-->
<!--<div class="modal-header">-->
<!--<h4 class="modal-title pull-left">Confirm..!</h4>-->
<!--</div>-->
<!--<div class="modal-body text-center">-->
<!--<div class="row">-->
<!--<div class="col-lg-12">-->
<!--<p>There are some errors in this form..?</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-8 offset-2 btn-group">-->
<!--<button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>-->
<!--<button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ng-template>-->

</body>
</html>

