<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid" style="margin: auto; padding: 5px 5px 5px 5px">


  <div class="card">
    <div class="card-header bg-info text-white"><h5>Person Management</h5></div>
    <div class="card-body">

      <div class="row">
        <div class="col-lg-5 col-sm-3">
          <form [formGroup]="form">

            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Name<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class=" form-control form-control-sm" formControlName="name" required>
                <mat-error *ngIf="isFieldInvalid('name')">Please insert correct Name</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Gender<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <mat-select formControlName="gender" class="form-control form-control-sm">
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('gender')">Please Select Employees</mat-error>
                <br>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Date of Birth<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class=" form-control form-control-sm" formControlName="dob" bsDatepicker required>
                <mat-error *ngIf="isFieldInvalid('dob')">Please insert correct Date of Birth</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Address<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class=" form-control form-control-sm " formControlName="address" required>
                <mat-error *ngIf="isFieldInvalid('address')">Please insert correct Address</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Contact<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class="form-control form-control-sm" formControlName="contact" required>
                <mat-error *ngIf="isFieldInvalid('contact')">Please insert correct Contact No</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>PHI Area<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <mat-select class="form-control form-control-sm" multiple formControlName="area" placeholder="Select Area">
                  <!--[compareWith]="compareCivilStatus">-->
                  <mat-option *ngFor="let area of areas" [value]="area">
                    {{area.name}} - {{area.areaType}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('area')">Please select correct Civil Status</mat-error>
              </div>

            </div>
            <br>


            <!--<div class="row">-->

              <!--<div class="col-lg-3 col-sm-12">-->
                <!--<label>PHM Area<span style="color: red">*</span></label>-->
              <!--</div>-->
              <!--<div class="col-lg-9 col-sm-12">-->
                <!--<mat-select class="form-control form-control-sm" formControlName="phmarea" required>-->
                  <!--&lt;!&ndash;[compareWith]="compareDesignations">&ndash;&gt;-->
                  <!--<mat-option value="null" disabled>Select PHM Area</mat-option>-->
                  <!--<mat-option *ngFor="let phmArea of phmareas" [value]="phmArea">-->
                    <!--{{phmArea.name}}-->
                  <!--</mat-option>-->
                <!--</mat-select>-->
                <!--<mat-error *ngIf="isFieldInvalid('phmArea')">Please select correct Designation</mat-error>-->
              <!--</div>-->

            <!--</div>-->
            <!--<br>-->


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Person Type<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <mat-select formControlName="personType" class="form-control form-control-sm">
                  <mat-option *ngFor="let personType of personTypes" [value]="personType">
                    {{personType}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('personType')">Please Select Employees</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Parent's Name<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class="form-control form-control-sm" formControlName="parentName" required>
                <mat-error *ngIf="isFieldInvalid('parentName')">Please insert correct Contact No</mat-error>
              </div>

            </div>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Parent's Occupation<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class="form-control form-control-sm" formControlName="parentOccupation" required>
                <mat-error *ngIf="isFieldInvalid('parentOccupation')">Please insert correct Contact No</mat-error>
              </div>

            </div>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Number of Siblings<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <input class="form-control form-control-sm" formControlName="numberOfSiblings" required>
                <mat-error *ngIf="isFieldInvalid('numberOfSiblings')">Please insert correct Contact No</mat-error>
              </div>

            </div>


            <div class="row">

              <div class="col-lg-3 col-sm-12">
                <label>Person Status<span style="color: red">*</span></label>
              </div>
              <div class="col-lg-9 col-sm-12">
                <mat-select formControlName="personStatus" [(ngModel)]="selected" class="form-control form-control-sm">
                  <mat-option ngValue="Active" selected>Active</mat-option>
                  <mat-option ngValue="Inactive">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="isFieldInvalid('personStatus')">Please Select Employees</mat-error>
              </div>

            </div>
            <br>


            <div class="row">

              <div class="col-lg-4">
                <button type="reset" class="btn btn-outline-dark" style="width: 100%" (click)="openModal(clear)">Clear
                </button>
              </div>

              <div class="col-lg-4">
                <button type="reset" (click)="openModalSave(save)" class="btn btn-outline-warning" style="width: 100%">
                  Update
                </button>
              </div>

              <div class="col-lg-4">
                <button type="button" (click)="openModalSave(update)" class="btn btn-outline-primary"
                        style="width: 100%">Add
                </button>
              </div>


            </div>
            <br><br>

          </form>
        </div>

        <div class="col-lg-7 container">


          <div class="card">
            <div class="card-body">


              <!--search ============================================================================-->
              <form [formGroup]="searchForm">
                <div class="row">
                  <div class="col-lg-4">

                    <input class="form-control form-control-sm" formControlName="name" placeholder="Name" (keyup.enter)="search()">
                  </div>


                  <div class="col-lg-4">

                    <!--<input class="form-control form-control-sm" placeholder="NIC" formControlName="nic" (keyup.enter)="search()">-->
                  </div>


                  <div class="col-lg-4">
                    <div class="btn-group">
                      <button class="btn btn-outline-success" (click)="search()">Search</button>
                      <button class="btn btn-outline-dark">Cancel</button>
                    </div>

                  </div>


                </div>
              </form>
              <br>

              <!-- Table ==================================================-->
              <div class="row">
                <div class="col-lg-12 mat-elevation-z8">
                  <table class="table table-hover table-sm" mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef><h6>Name</h6></th>
                    <td mat-cell *matCellDef="let person">{{person.name}}</td>
                  </ng-container>

                  <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef><h6>Gender</h6></th>
                    <td mat-cell *matCellDef="let person">{{person.gender}}</td>
                  </ng-container>

                  <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef><h6>Address</h6></th>
                    <td mat-cell *matCellDef="let person">{{person.address}}</td>
                  </ng-container>

                  <!--<ng-container matColumnDef="area">-->
                    <!--<th mat-header-cell *matHeaderCellDef><h6>PHI Area</h6></th>-->
                    <!--<td mat-cell *matCellDef="let person">{{person.area}}</td>-->
                  <!--</ng-container>-->

                  <!--<ng-container matColumnDef="phmarea">-->
                    <!--<th mat-header-cell *matHeaderCellDef><h6>PHM Area</h6></th>-->
                    <!--<td mat-cell *matCellDef="let person">{{person.phmarea}}</td>-->
                  <!--</ng-container>-->

                  <ng-container matColumnDef="personType">
                    <th mat-header-cell *matHeaderCellDef><h6>Person Type</h6></th>
                    <td mat-cell *matCellDef="let person">{{person.personType}}</td>
                  </ng-container>

                  <ng-container matColumnDef="personStatus">
                    <th mat-header-cell *matHeaderCellDef><h6>Person Status</h6></th>
                    <td mat-cell *matCellDef="let person">{{person.personStatus}}</td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef><h6>Action</h6></th>
                    <td mat-cell *matCellDef="let person">
                      <div class="btn-group btn-group-sm special">
                        <button type="button" class="btn btn-outline-success" (click)="fillForm(person)">Select</button>
                      </div>

                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to save..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #update>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to update changes..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clear>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to clear this form..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

</body>
</html>
