<html>
<body>
<app-header></app-header>
<div class="row" style="background-color: #010042; height: 8px;"></div>

<!--========================== carousel ===============================================-->

<carousel>
  <slide>
    <img src="../../assets/images/sliders/health1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/sliders/health2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/sliders/health3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>

<div class="row" style="background-color: #010042; height: 8px;"></div>



<!--================ Tabs =============================================================-->
<div class="row" style="padding-top: 5px;">
  <div class="col-lg-12 card bg-light">
    <tabset class="card card-header">

<!--===== Home tab =========================================================-->

    <tab heading="Home" id="tab1" class="card card-body">
      <div class="row">
        <div class="col-lg-6"></div>

        <div class="col-lg-6">
          <div class="card bg-danger">
            <div class="card card-header text-white"><h3>Notifications</h3></div>
            <div class="card card-body">
              <ul>
                <li></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </tab>

<!--======== About =======================================================================================-->

    <tab heading="About" class="card card-body">

      <div class="row">
        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h3>About us</h3></div>
          <div class="card card-body"><p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essent.
          </p></div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary"><div class="card card-header text-white"><h3>Our Location </h3></div>
          <div class="map card card-body"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4709.873671770079!2d79.99294192242213!3d6.9483081725706395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9353608cea4bc812!2sMedical+Officer+of+Health+office!5e0!3m2!1sen!2slk!4v1528989176306" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h3>Contact</h3></div>
          <div class="card card-body"><ul>
            <li>Phone : 123 - 456 - 789</li>
            <li>E-mail : info@comapyn.com</li>
            <li>Fax : 123 - 456 - 789</li>
          </ul>
          </div>
          </div>
        </div>

      </div>

    </tab>

<!--============ Complains ===================================================================-->

    <tab heading="Complains" class="card card-body">

      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h4>Insert Your Complain</h4></div>
            <div class="card card-body">
              <form>
                <div class="row">
                  <div class="col-lg-2">
                    <label>Name of Complainer</label>
                  </div>
                  <div class="col-lg-4">
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="col-lg-2">
                    <label>NIC of Complainer</label>
                  </div>
                  <div class="col-lg-4">
                    <input class="form-control form-control-sm"><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Contact of Complainer</label>
                  </div>
                  <div class="col-lg-4">
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="col-lg-2">
                    <label>Address of Complainer</label>
                  </div>
                  <div class="col-lg-4">
                    <textarea class="form-control form-control-sm"></textarea><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Area of Complain</label>
                  </div>
                  <div class="col-lg-4">
                    <input class="form-control form-control-sm">
                  </div>

                  <div class="col-lg-2">
                    <label>Subject of Complain</label>
                  </div>
                  <div class="col-lg-4">
                    <input class="form-control form-control-sm"><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Complain</label>
                  </div>
                  <div class="col-lg-10">
                    <textarea class="form-control"></textarea><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 offset-6">
                    <button class="btn btn-outline-dark" style="width: 100%;">Clear</button>
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-outline-primary" style="width: 100%;">Submit</button><br>
                  </div>
                </div>

              </form>


              <div class="row" style="padding-top: 2%;">
                <div class="col-lg-12 alert alert-warning">
                  <p><strong>Warning! </strong><br>
                  Complainer must accept the responsibility of his/her complain. If given data of complainer are incorrect, we will be considered that complain as a fake complain.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </tab>
  </tabset>
  </div>

</div>

<app-footer></app-footer>

</body>
</html>
