<html>
<body>
<app-header></app-header>
<div class="row" style="background-color: #010042; height: 8px;"></div>

<!--========================== carousel ===============================================-->

<carousel>
  <slide>
    <img src="../../assets/images/sliders/health1.png" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>First slide label</h3>-->
      <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/sliders/health2.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Second slide label</h3>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/sliders/health3.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!--<h3>Third slide label</h3>-->
      <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
    </div>
  </slide>
</carousel>

<div class="row" style="background-color: #010042; height: 8px;"></div>



<!--================ Tabs =============================================================-->
<div class="row" style="padding-top: 5px;">
  <div class="col-lg-12 card bg-light">
    <tabset class="card card-header">

<!--===== Home tab =========================================================-->

    <tab heading="Home" class="card card-body">

      <div class="row">
        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h3>About Us</h3></div>
          <div class="card card-body"><p>
            The health service is available in Sri Lanka during 1950’s. The medical officer of health office is acting a major role in public health services. The main functions of the public health services are promotion of health and prevention of diseases. Control of communicable diseases, sanitation, school health work, epidemiological surveillance, family health, health education and the enforcement of the food act are some services that are delivered by public health workers. Health units headed by Medical officer of health(MOH) carry out these services in Sri Lanka. Public health inspectors, public health nursing sisters, public health midwives assist the medical officer of health(MOH). </p></div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary"><div class="card card-header text-white"><h3>Our Location </h3></div>
          <div class="map card card-body"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4709.873671770079!2d79.99294192242213!3d6.9483081725706395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9353608cea4bc812!2sMedical+Officer+of+Health+office!5e0!3m2!1sen!2slk!4v1528989176306" frameborder="0" style="border:0" allowfullscreen></iframe></div>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-12  col-md-12" style="padding: 2% 10% 2% 10%;">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h3>Contact Us</h3></div>
          <div class="card card-body"><ul>
            <li>Phone : 011-2489785</li>
            <li>E-mail : biyagamamoh@yahoo.com</li>
            <li>Fax : 011-2489785</li>
          </ul>
          </div>
          </div>
        </div>

      </div>

    </tab>

<!--============ Complains ===================================================================-->

    <tab heading="Complains" class="card card-body">

      <div class="row">
        <div class="col-lg-12">
          <div class="card bg-primary">
            <div class="card card-header text-white"><h4>Insert Your Complain</h4></div>
            <div class="card card-body">
              <form [formGroup]="form">
                <div class="row">
                  <div class="col-lg-2">
                    <label>Name of Complainer<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" class="form-control form-control-sm" formControlName="name">
                    <mat-error *ngIf="isFieldInvalid('name')">Please insert correct Name</mat-error>
                  </div>

                  <div class="col-lg-2">
                    <label>NIC of Complainer<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <input type="text"  class="form-control form-control-sm" formControlName="nic">
                    <mat-error *ngIf="isFieldInvalid('nic')">Please insert correct Contact NIC</mat-error><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Contact of Complainer<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" class="form-control form-control-sm" formControlName="contact">
                    <mat-error *ngIf="isFieldInvalid('contact')">Please insert correct Contact No</mat-error>
                  </div>

                  <div class="col-lg-2">
                    <label>Address of Complainer<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <textarea class="form-control form-control-sm" formControlName="address"></textarea>
                    <mat-error *ngIf="isFieldInvalid('address')">Please insert correct Address</mat-error><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Area of Complain<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <mat-select id="area" formControlName="area" class="form-control form-control-sm">
                      <mat-option *ngFor="let area of areas" [value]="area">
                        {{area.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="isFieldInvalid('area')">Please select your Area</mat-error>
                  </div>

                  <div class="col-lg-2">
                    <label>Subject of Complain<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" class="form-control form-control-sm" formControlName="subject">
                    <mat-error *ngIf="isFieldInvalid('subject')">Please insert relevant Subject</mat-error><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <label>Complain<span style="color: red">*</span></label>
                  </div>
                  <div class="col-lg-10">
                    <textarea class="form-control" formControlName="complain" placeholder="Explain your complain clearly with necessary information(location, problem, names of people). Don't use more than 2000 characters"></textarea>
                    <mat-error *ngIf="isFieldInvalid('complain')">Please insert your Complain</mat-error><br>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3">
                    <label>Fields marked with (<span style="color: red">*</span>) are mandatory.</label>
                  </div>
                  <div class="col-lg-3 offset-3">
                    <button class="btn btn-outline-dark" style="width: 100%;" (click)="openModal(clear)">Clear</button>
                  </div>
                  <div class="col-lg-3">
                    <button class="btn btn-outline-primary" style="width: 100%;" (click)="openModalSave(save)">Submit</button><br>
                  </div>
                </div>

              </form>


              <div class="row" style="padding-top: 2%;">
                <div class="col-lg-12 alert alert-warning">
                  <p><strong>Warning! </strong><br>
                  If given data about complain and the complainer are incorrect, we will be considered that complain as a fake or an incorrect complain.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </tab>
  </tabset>
  </div>
</div>


<app-footer></app-footer>

<ng-template #save>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to save..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #clear>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm..!</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-lg-12">
        <p>Are you sure to want to clear this form..?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-2 btn-group">
        <button type="button" class="btn btn-default" (click)="onModelNo()" style="width: 100%">No</button>
        <button type="button" class="btn btn-primary" (click)="onClear()" style="width: 100%">Yes</button>
      </div>
    </div>
  </div>
</ng-template>


</body>
</html>
